.container {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: bold;
  width: 650px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;

  background-size: cover;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.02), 0 8px 6px rgba(0, 0, 0, 0.03),
    0 16px 10px rgba(0, 0, 0, 0.04), 0 26px 18px rgba(0, 0, 0, 0.05),
    0 48px 34px rgba(0, 0, 0, 0.06);
}
